.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 258px;
    height: 124px;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.card-icon img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.card-unit {
    color: #282D30;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.card-type {
    color: #74798C;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}