.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 1050px;
    overflow: auto;
    background-color: #000;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-nav img {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
}

.copyright {
    margin-top: 100px;
}

.copyright p {
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 24px;
    transform: rotate(-90deg);
}

/* MEDIA QUERIES */
@media screen and (min-width:1024px) and (max-width: 1280px) {
    .sidebar {
        height: 150%;
    }
}