.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: #000;
    margin: 0;
    padding: 0;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-nav img {
    width: 64px;
    height: 64px;
}

.copyright p {
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transform: rotate(-90deg);
}