.home-body {
  margin: 0px 0px 0px 10%;
  padding-left: 30px;
  width: 80%;
  height: 90vh;
}

.-wrapper {
  display: flex;
  justify-content: space-between;
}

.activity-wrapper {
  margin-bottom: 30px;
}

.stats-wrapper {
  display: flex;
  justify-content: space-between;
}