.home-body {
  margin: 10% 0px 0px 15%;
  padding-left: 30px;
  width: 80%;
  height: 90vh;
}

.home-body h1 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 50px;
}

.user-name {
  color: #FF0101;
}

.home-body h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 70px;
}

.-wrapper {
  display: flex;
  justify-content: space-between;
}

.activity-wrapper {
  margin-bottom: 30px;
}

.stats-wrapper {
  display: flex;
  justify-content: space-between;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error {
  margin: 20% 0px 0px 15%;
  padding-left: 30px;
  width: 80%;
  height: 90vh;
  text-align: center;
}

.error h1 {
  font-size: 100px;
  color: #F00;
  font-weight: 700;
}

.error p {
  font-size: 34px;
  color: #F00;
}

/* MEDIA QUERIES */
@media screen and (min-width:1024px) and (max-width: 1280px) {
  .home-body {
    margin: 10% 0px 0px 15%;
  }

  .stats-wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .cards-wrapper {
    justify-content: flex-start;
  }
}